.box {
  color: '#999999';
  fontsize: 16;
  fontfamily: 'Apple SD Gothic Neo';
  fontweight: '400';
  lineheight: 22;
  wordwrap: 'break-word';
}

.button-post {
  color: 'white';
  fontsize: 18;
  fontfamily: 'Apple SD Gothic Neo';
  fontweight: '800';
  wordwrap: 'break-word';
}
