.word {
  width: 100%;
  color: white;
  font-size: 16px;
  background-color: rgb(94, 94, 250);
  margin-bottom: 0px;
  border-radius: 5px;
  border: 1px solid rgb(210, 197, 197);
  padding: 18px 12px;
}
.container {
  width: 528px;
  height: 1142px;
  display: flex;
  padding: 0px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.postlist {
  overflow-y: scroll;
}

.post {
  width: 512px;
  height: 214px;
  display: flex;
  padding: 0px 8px 24px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}

.header {
  width: 512px;
  height: 48px;
  display: flex;
  // align-items: center;
  // align-self: stretch;
  gap: 20px;
}

// .tbx {
// }

.action {
  width: 528px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.updatebtn {
  display: flex;
  width: 120px;
  height: 56px;
  padding: 0px 34px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #2d71f7;
  color: white;
}

.editbutton {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.propic {
  width: 30px;
  height: 30px;
  background-color: yellow;
  // margin-right:
}

// NESTING 햬야합니다!!!!!
