@mixin imgSize {
  width: 100px;
  margin: 20px auto;
}

@mixin button {
  width: 100%;
  color: white;
  font-size: 16px;
  background-color: rgb(94, 94, 250);
  margin-bottom: 0px;
  border-radius: 5px;
  border: 1px solid rgb(210, 197, 197);
  padding: 18px 12px;
}

@mixin includeText {
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(228, 212, 212);
  padding: 18px 12px;
}
